:root {
    --main-color: #4c1d95;
    --main-backgroundColor: #ddd6fe;
    --secondary-color: #ede9fe;
    --secondary-backgroundColor: #5b21b6;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    border: 2px dashed white;
    border-radius: 12px;
    color: var(--secondary-color);
    background-color: var(--secondary-backgroundColor);
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 5px;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    text-align: center;
}

.sitecontainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    color: var(--secondary-backgroundColor);
    background-color: #fde047;
    padding-top: 10px;
    padding-left: 15%;
    
}

.header {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--secondary-color);
    background-color: var(--secondary-backgroundColor);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 10px;
}

.cards {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    color: var(--main-color);
    background-color: var(--main-backgroundColor);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 3fr 1fr;
    gap: 5px;
    padding: 10px;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    text-align: center; 
    
}

.projectscontainer {
    display: grid;
    grid-template: 200px 200px 200px / 1fr 1fr;
    gap: 5px
}

.projectcontent {
    border: 4px solid black;
    border-radius: 12px;
    padding: 10px;
    text-align: left; 
    overflow: hidden;
}

.announcements {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 4px solid white;
    border-radius: 12px;
    padding: 10px;
    overflow: hidden;
}


.trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border: 4px solid white;
    border-radius: 12px;
    padding: 10px;
    overflow: hidden;
}

#searchbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search {
    border: 2px dashed black;
    border-radius: 12px;
    height: 30px;
    width: 80%;
    padding: 2px;
    outline: 0;
    background-color: #f5f5f5;
}

#usergreeting {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#useralerts {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#headerbuttons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}